# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
series = pd.Series(lst)
series

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [4]:
third_value = series[2]
third_value

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [6]:
df = pd.DataFrame(b)

### 5. Rename the data frame columns based on the names in the list below.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [8]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [9]:
df = pd.DataFrame(b, columns = colnames)
df

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [10]:
df_subset = df[['Score_1','Score_3', 'Score_5']]
df_subset

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [11]:
# Calculating the average of Score_3
average_score_3 = df['Score_3'].mean()
average_score_3

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [15]:
max_score_4 = df['Score_4'].max()
max_score_4

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [16]:
median_score_2 = df['Score_2'].median()
median_score_2

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [17]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [18]:
df = pd.DataFrame(orders)
df

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [19]:
total_quantity = df['Quantity'].sum()
total_revenue = df[ 'Revenue'].sum()
total_quantity, total_revenue

(2978, 637.0)

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [21]:
most_expensive = df['UnitPrice'].max()
least_expensive = df['UnitPrice'].min()

price_difference = most_expensive - least_expensive 

print(price_difference)

11.77

## Let's load another dataset for more exercisesº

In [15]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [16]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [17]:
missing_data = admissions.isnull().sum()
missing_data

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [18]:
# Setting the 'Serial No.' column as the index
admissions.set_index('Serial No.', drop=False, inplace=True)

In [19]:
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

"Turns out that GRE Score and CGPA also uniquely identify the data. Show this in the cell below."

In [20]:
# Checking if the combination of "GRE Score" and "CGPA" uniquely identifies the data
unique_combinations = admissions[['GRE Score', 'CGPA']].drop_duplicates().shape[0]
total_rows = admissions.shape[0]

is_unique = unique_combinations == total_rows
unique_combinations, total_rows, is_unique

(385, 385, True)

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [23]:
cgpa_and_investigation = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].shape[0]
cgpa_and_investigation

101

#### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [25]:
cgpa_and_sop = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]
cgpa_and_sop_for_change_of_admit = cgpa_and_sop['Chance of Admit'].mean()

In [31]:
cgpa_and_sop

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
29,29,338,118,4,3.0,4.5,9.40,1,0.91
63,63,327,114,3,3.0,3.0,9.02,0,0.61
141,141,326,114,3,3.0,3.0,9.11,1,0.83
218,218,324,111,4,3.0,3.0,9.01,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84

In [32]:
cgpa_and_sop_for_change_of_admit

0.8019999999999999

Let's create a new column based on the TOEFL Score column, where we put True if the TOEFL value is greater than 100 and False if it is less. We are going to do it with a function and an apply. 
To do this, we first create a function that receives an argument. The function will return True if the parameter entered is greater than 100, otherwise it will return False.

In [38]:
def check_toefl(score):
    return score > 100

In [42]:
# Applying the function to the "TOEFL Score" column and creating a new column "TOEFL Score > 100"

admissions['TOEFL_Score_Above_100'] = admissions['TOEFL Score'].apply(check_toefl)

admissions.head(50)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,TOEFL_Score_Above_100
Serial No.,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,True
2,2,316,104,3,3.0,3.5,8.00,1,0.72,True
3,3,322,110,3,3.5,2.5,8.67,1,0.80,True
4,4,314,103,2,2.0,3.0,8.21,0,0.65,True
5,5,330,115,5,4.5,3.0,9.34,1,0.90,True
6,6,321,109,3,3.0,4.0,8.20,1,0.75,True
7,7,308,101,2,3.0,4.0,7.90,0,0.68,True
8,8,302,102,1,2.0,1.5,8.00,0,0.50,True
9,9,323,108,3,3.5,3.0,8.60,0,0.45,True
10,10,327,111,4,4.0,4.5,9.00,1,0.84,True
11,11,328,112,4,4.0,4.5,9.10,1,0.78,True
12,12,307,109,3,4.0,3.0,8.00,1,0.62,True
13,13,311,104,3,3.5,2.0,8.20,1,0.61,True
14,14,314,105,3,3.5,2.5,8.30,0,0.54,True
15,15,317,107,3,4.0,3.0,8.70,0,0.66,True
16,16,319,106,3,4.0,3.0,8.00,1,0.65,True
17,17,318,110,3,4.0,3.0,8.80,0,0.63,True
18,18,303,102,3,3.5,3.0,8.50,0,0.62,True
19,19,325,114,4,3.0,2.0,8.40,0,0.70,True
20,20,328,116,5,5.0,5.0,9.50,1,0.94,True
21,21,334,119,5,5.0,4.5,9.70,1,0.95,True
22,22,336,119,5,4.0,3.5,9.80,1,0.97,True
23,23,322,109,5,4.5,3.5,8.80,0,0.76,True
24,24,298,98,2,1.5,2.5,7.50,1,0.44,False
25,25,295,93,1,2.0,2.0,7.20,0,0.46,False
26,26,310,99,2,1.5,2.0,7.30,0,0.54,False
27,27,300,97,2,3.0,3.0,8.10,1,0.65,False
28,28,327,103,3,4.0,4.0,8.30,1,0.74,True
29,29,338,118,4,3.0,4.5,9.40,1,0.91,True
30,30,340,114,5,4.0,4.0,9.60,1,0.90,True
31,31,331,112,5,4.0,5.0,9.80,1,0.94,True
32,32,320,110,5,5.0,5.0,9.20,1,0.88,True
33,33,299,106,2,4.0,4.0,8.40,0,0.64,True
34,34,300,105,1,1.0,2.0,7.80,0,0.58,True
35,35,304,105,1,3.0,1.5,7.50,0,0.52,True
36,36,307,108,2,4.0,3.5,7.70,0,0.48,True
37,37,308,110,3,3.5,3.0,8.00,1,0.46,True
38,38,316,105,2,2.5,2.5,8.20,1,0.49,True
39,39,313,107,2,2.5,2.0,8.50,1,0.53,True
40,40,332,117,4,4.5,4.0,9.10,0,0.87,True
41,41,326,113,5,4.5,4.0,9.40,1,0.91,True
42,42,322,110,5,5.0,4.0,9.10,1,0.88,True
43,43,329,114,5,4.0,5.0,9.30,1,0.86,True
44,44,339,119,5,4.5,4.0,9.70,0,0.89,True
45,45,321,110,3,3.5,5.0,8.85,1,0.82,True
46,46,327,111,4,3.0,4.0,8.40,1,0.78,True
47,47,313,98,3,2.5,4.5,8.30,1,0.76,False
48,48,312,100,2,1.5,3.5,7.90,1,0.56,False
49,49,334,116,4,4.0,3.0,8.00,1,0.78,True
50,50,324,112,4,4.0,2.5,8.10,1,0.72,True

Now we create a new column called "Decision" and apply to the TOEFL Score column

In [45]:
def decision(score):
    
    if score > 100:
        return "Accept"
    else:
        return "Reject"

In [48]:
admissions['Decision'] = admissions['TOEFL Score'].apply(decision)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,TOEFL_Score_Above_100,Decision
Serial No.,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,True,Accept
2,2,316,104,3,3.0,3.5,8.00,1,0.72,True,Accept
3,3,322,110,3,3.5,2.5,8.67,1,0.80,True,Accept
4,4,314,103,2,2.0,3.0,8.21,0,0.65,True,Accept
5,5,330,115,5,4.5,3.0,9.34,1,0.90,True,Accept
...,...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,True,Accept
382,382,325,107,3,3.0,3.5,9.11,1,0.84,True,Accept
383,383,330,116,4,5.0,4.5,9.45,1,0.91,True,Accept
384,384,312,103,3,3.5,4.0,8.78,0,0.67,True,Accept
385,385,333,117,4,5.0,4.0,9.66,1,0.95,True,Accept

Create a column called `decision2` in the `admissions` dataframe. Assign 1 to this column if the value of `SOP` is greater than 3 and 0 otherwise.    
HINT (use np.where)

In [54]:
def decision2(score):
    if score > 3:
        return 1
    else:
        return 0

In [56]:
admissions['Decision 2'] = admissions['SOP'].apply(decision2)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,TOEFL_Score_Above_100,Decision,Decision 2
Serial No.,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,True,Accept,1
2,2,316,104,3,3.0,3.5,8.00,1,0.72,True,Accept,0
3,3,322,110,3,3.5,2.5,8.67,1,0.80,True,Accept,1
4,4,314,103,2,2.0,3.0,8.21,0,0.65,True,Accept,0
5,5,330,115,5,4.5,3.0,9.34,1,0.90,True,Accept,1
...,...,...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,True,Accept,1
382,382,325,107,3,3.0,3.5,9.11,1,0.84,True,Accept,0
383,383,330,116,4,5.0,4.5,9.45,1,0.91,True,Accept,1
384,384,312,103,3,3.5,4.0,8.78,0,0.67,True,Accept,1
385,385,333,117,4,5.0,4.0,9.66,1,0.95,True,Accept,1