# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [73]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [4]:
ls = pd.Series(lst)

In [5]:
print(ls)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [7]:
df = pd.DataFrame(ls)
print(df)

      0
0   5.7
1  75.2
2  74.4
3  84.0
4  66.5
5  66.3
6  55.8
7  75.7
8  29.1
9  43.7

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [9]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [17]:
print(b[:][0][2])

67.5

### 5. Rename the data frame columns based on the names in the list below.

In [30]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

b1 = pd.DataFrame(b)
print(b1)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

In [19]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [41]:
b2 = b1.rename(columns={0: 'Score_1', 1: 'Score_2', 2: 'Score_3', 3: 'Score_4', 4: 'Score_5'})
print(b2)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [46]:
b3 = b2[['Score_1', 'Score_3', 'Score_5']]
print(b3)

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [56]:
sc_3 = b1[[2]]
print(sc_3)
sc_3_av = sc_3.mean()

      2
0  67.5
1  30.8
2  44.2
3  96.1
4  85.4
5   0.1
6  95.0
7  53.8
8  53.4
9  43.2

In [57]:
print(sc_3_av)

2    56.95
dtype: float64

### 8. From the original data frame, calculate the maximum Score_4 value.

In [59]:
sc_4 = b1[[3]]
sc_4max = sc_4.max()
print(sc_4max)

3    88.8
dtype: float64

### 9. From the original data frame, calculate the median Score 2 value.

In [60]:
sc_2 = b1[[1]]
sc_2med = sc_2.median()
print(sc_2med)

1    40.75
dtype: float64

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [61]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [63]:
orders_1 = pd.DataFrame(orders)
print(orders_1)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [64]:
t_q = orders_1[['Quantity']]
t_qsum = t_q.sum()
print(t_qsum)

Quantity    2978
dtype: int64

In [65]:
t_r = orders_1[['Revenue']]
t_rsum = t_r.sum()
print(t_rsum)

Revenue    637.0
dtype: float64

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [69]:
exp = orders_1[['UnitPrice']]
max = exp.max()
min = exp.min()
diff = max - min
print(diff)

UnitPrice    11.77
dtype: float64

## Let's load another dataset for more exercisesº

In [112]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [113]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [114]:
admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [115]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   TOEFL Score        385 non-null    int64
 3   University Rating  385 non-null    int64
 4   SOP                385 non-null    float64
 5   LOR                385 non-null    float64
 6   CGPA               385 non-null    float64
 7   Research           385 non-null    int64
 8   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [121]:
admission_1 = admissions.set_index('Serial No.')
print(admission_1)

            GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
Serial No.
1                 337          118                  4  4.5  4.5  9.65
2                 316          104                  3  3.0  3.5  8.00
3                 322          110                  3  3.5  2.5  8.67
4                 314          103                  2  2.0  3.0  8.21
5                 330          115                  5  4.5  3.0  9.34
...               ...          ...                ...  ...  ...   ...
381               324          110                  3  3.5  3.5  9.04
382               325          107                  3  3.0  3.5  9.11
383               330          116                  4  5.0  4.5  9.45
384               312          103                  3  3.5  4.0  8.78
385               333          117                  4  5.0  4.0  9.66

            Research  Chance of Admit
Serial No.
1                  1             0.92
2                  1             0.72
3                  1             0.80
4                  0             0.65
5                  1             0.90
...              ...              ...
381                1             0.82
382                1             0.84
383                1             0.91
384                0             0.67
385                1             0.95

[385 rows x 8 columns]

"Turns out that GRE Score and CGPA also uniquely identify the data. Show this in the cell below."

In [126]:
admission_1["gre_cgpa"] = admission_1["GRE Score"].astype(str) + " - "+ admission_1["CGPA"].astype(str)
admission_1["gre_cgpa"].is_unique

True

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [128]:
condition1 = (admission_1['CGPA'] > 9) & (admission_1['Research'] == 1)
filterdata = admission_1[condition1]
print(filterdata)

            GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
Serial No.
1                 337          118                  4  4.5  4.5  9.65
5                 330          115                  5  4.5  3.0  9.34
11                328          112                  4  4.0  4.5  9.10
20                328          116                  5  5.0  5.0  9.50
21                334          119                  5  5.0  4.5  9.70
...               ...          ...                ...  ...  ...   ...
380               329          111                  4  4.5  4.0  9.23
381               324          110                  3  3.5  3.5  9.04
382               325          107                  3  3.0  3.5  9.11
383               330          116                  4  5.0  4.5  9.45
385               333          117                  4  5.0  4.0  9.66

            Research  Chance of Admit    gre_cgpa
Serial No.
1                  1             0.92  337 - 9.65
5                  1             0.90  330 - 9.34
11                 1             0.78   328 - 9.1
20                 1             0.94   328 - 9.5
21                 1             0.95   334 - 9.7
...              ...              ...         ...
380                1             0.89  329 - 9.23
381                1             0.82  324 - 9.04
382                1             0.84  325 - 9.11
383                1             0.91  330 - 9.45
385                1             0.95  333 - 9.66

[101 rows x 9 columns]

#### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [129]:
condition3 = (admission_1['CGPA'] > 9)
condition4 = (admission_1['SOP'] < 3.5)
filterdata1 = admission_1[condition3 & condition4]
print(filterdata1)

0

            GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
Serial No.
29                338          118                  4  3.0  4.5  9.40
63                327          114                  3  3.0  3.0  9.02
141               326          114                  3  3.0  3.0  9.11
218               324          111                  4  3.0  3.0  9.01
382               325          107                  3  3.0  3.5  9.11

            Research  Chance of Admit    gre_cgpa
Serial No.
29                 1             0.91   338 - 9.4
63                 0             0.61  327 - 9.02
141                1             0.83  326 - 9.11
218                1             0.82  324 - 9.01
382                1             0.84  325 - 9.11

0

In [130]:
chance = filterdata1[['Chance of Admit']]
mean_chance = chance.mean()
print(mean_chance)

Chance of Admit    0.802
dtype: float64

Let's create a new column based on the TOEFL Score column, where we put True if the TOEFL value is greater than 100 and False if it is less. We are going to do it with a function and an apply. 
To do this, we first create a function that receives an argument. The function will return True if the parameter entered is greater than 100, otherwise it will return False.

In [131]:
def toefl_condition(score):
    return score > 100

admission_1['Decision'] = admission_1['TOEFL Score'].apply(toefl_condition)
print(admission_1)

            GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
Serial No.
1                 337          118                  4  4.5  4.5  9.65
2                 316          104                  3  3.0  3.5  8.00
3                 322          110                  3  3.5  2.5  8.67
4                 314          103                  2  2.0  3.0  8.21
5                 330          115                  5  4.5  3.0  9.34
...               ...          ...                ...  ...  ...   ...
381               324          110                  3  3.5  3.5  9.04
382               325          107                  3  3.0  3.5  9.11
383               330          116                  4  5.0  4.5  9.45
384               312          103                  3  3.5  4.0  8.78
385               333          117                  4  5.0  4.0  9.66

            Research  Chance of Admit    gre_cgpa  Decision
Serial No.
1                  1             0.92  337 - 9.65      True
2                  1             0.72   316 - 8.0      True
3                  1             0.80  322 - 8.67      True
4                  0             0.65  314 - 8.21      True
5                  1             0.90  330 - 9.34      True
...              ...              ...         ...       ...
381                1             0.82  324 - 9.04      True
382                1             0.84  325 - 9.11      True
383                1             0.91  330 - 9.45      True
384                0             0.67  312 - 8.78      True
385                1             0.95  333 - 9.66      True

[385 rows x 10 columns]

Now we create a new column called "Decision" and apply to the TOEFL Score column

Create a column called `decision2` in the `admissions` dataframe. Assign 1 to this column if the value of `SOP` is greater than 3 and 0 otherwise.    
HINT (use np.where)

In [132]:
def SOP_greater(value):
    if value >= 3:
        return 1
    else:
        return 0

admission_1['Decision2'] = admission_1['SOP'].apply(SOP_greater)
print(admission_1)

            GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
Serial No.
1                 337          118                  4  4.5  4.5  9.65
2                 316          104                  3  3.0  3.5  8.00
3                 322          110                  3  3.5  2.5  8.67
4                 314          103                  2  2.0  3.0  8.21
5                 330          115                  5  4.5  3.0  9.34
...               ...          ...                ...  ...  ...   ...
381               324          110                  3  3.5  3.5  9.04
382               325          107                  3  3.0  3.5  9.11
383               330          116                  4  5.0  4.5  9.45
384               312          103                  3  3.5  4.0  8.78
385               333          117                  4  5.0  4.0  9.66

            Research  Chance of Admit    gre_cgpa  Decision  Decision2
Serial No.
1                  1             0.92  337 - 9.65      True          1
2                  1             0.72   316 - 8.0      True          1
3                  1             0.80  322 - 8.67      True          1
4                  0             0.65  314 - 8.21      True          0
5                  1             0.90  330 - 9.34      True          1
...              ...              ...         ...       ...        ...
381                1             0.82  324 - 9.04      True          1
382                1             0.84  325 - 9.11      True          1
383                1             0.91  330 - 9.45      True          1
384                0             0.67  312 - 8.78      True          1
385                1             0.95  333 - 9.66      True          1

[385 rows x 11 columns]